/**
 * Fade-zoom animation for first dialog
 */

/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;



  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);

  opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}



/**
 * Fade-move animation for second dialog
 */

/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;

  -webkit-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
  -moz-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
  -ms-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
  -o-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
  transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );

}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -webkit-transform: translateY(0) perspective( 600px ) rotateX( 0 );
  -moz-transform: translateY(0) perspective( 600px ) rotateX( 0 );
  -ms-transform: translateY(0) perspective( 600px ) rotateX( 0 );
  -o-transform: translateY(0) perspective( 600px ) rotateX( 0 );
  transform: translateY(0) perspective( 600px ) rotateX( 0 );
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
  opacity: 0;

  -webkit-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
  -moz-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
  -ms-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
  -o-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
  transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
}

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
  opacity: 0;

  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
  opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
  opacity: 0;
}
.hamburger {
  height: 40px;
  width: 40px;
  position: relative;
  z-index: 6;
  margin-right: 15px;
}

.hamburger .inner,
.hamburger .inner::before,
.hamburger .inner::after {
  background-color: #fff;
  content: "";
  display: block;
  height: 1px;
  width: 32px;
  -webkit-transition: all .3s ease;
  transition: all .5s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.hamburger .inner {
  position: absolute;
  top: 50%;
}

.hamburger .inner::before {
  margin-top: -10px;
  position: absolute;
}

.hamburger .inner::after {
  margin-top: 10px;
  position: absolute;
}

.hamburger.button-close .inner {
  background-color: transparent;
}

.hamburger.button-close .inner::before,
.hamburger.button-close .inner::after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  transform-origin: 0 50%;
  width: 29px;
}

.hamburger.button-close .inner::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
@mixin input-placeholder {
    &.placeholder {
        @content;
    }

    &:-moz-placeholder {
        @content;
    }

    &::-moz-placeholder {
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }

    &::-webkit-input-placeholder {
        @content;
    }
}

*{
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}
html, body {
    cursor: default;
    height: 100%;
    position:relative;
    min-height:100%;
    font-family: Acrom;
}
body {
    overflow: auto;
    font-family:Open Sans,Arial,sans-serif;

    }

#container{
    width: 100%;
    min-height: 100%;
    height: 100%;
    transition:all 250ms ease;
}

.content {
	position: relative;
	max-width: 1275px;
  margin:0 auto;
  padding: 0 10px;
}
$gradient: linear-gradient(to top right, #3992d5 0%, #61afdd 100%);

.menu{
  background: $gradient;
  position: fixed;
  z-index: 33;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  &-top{
    padding: 10px 0;
    font-size: 14px;
    .content{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-right{
      text-align: right;
      &-phone{
        color: #fff;
        display: flex;
        align-items: center;
        width: 100%;
        text-align: right;
        justify-content: flex-end;
        p{
          line-height: 12px;
          margin-left: 5px;
          font-size: 16px;
        }
      }
      .callback-button{
        border: 1px solid #fff;
        padding: 2px 15px;
        border-radius: 100px;
        background: transparent;
        color: #fff;
        margin-top: 5px;
        cursor: pointer;
        transition: all 250ms ease;
        &:hover{
          color: #4EA1D9;
          background: #fff;
        }
      }
    }
  }
  &-hrefs{
    display: flex;
    justify-content: center;
    align-items: center;
    a{
      color: #fff;
      padding: 0px 10px;
      border-right: 1px solid #fff;
      &:nth-last-child(1){
        border: none;
      }
    }
  }
}

.main-bg{
  width: 100%;
  position: relative;
  min-height: 100vh;
  // background: url('../images/main-bg.jpg')center center no-repeat;
  background: url('../images/place-gallery/7.jpg')center center no-repeat;
  background-size: cover;
  padding: 0;
  &:before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.35);
  }
  .content{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    color: #fff;
    text-shadow: 1px 1px rgba(0,0,0,0.8);
    h1{
      font-weight: bold;
      font-size: 36px;
    }
    .text{
      max-width: 700px;
      margin: 30px 0;
    }
    .show-more{
      position: absolute;
      width: 200px;
      height: 50px;
      background: linear-gradient(to top right, #17507b 0%, #61afdd 100%);
      left: 50%;
      margin-left: -100px;
      bottom: 0;
      border: none;
      color: #fff;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      cursor: pointer;
      transition: all 250ms ease;
      &:hover{
        opacity: 0.9;
        i{
          animation: 800ms ease infinite keydown-anim;
        }
      }
    }
  }
  @media screen and (max-device-width: 900px){
    min-height: 800px;
    .content{
      min-height: 800px;
    }
  }
}
@keyframes keydown-anim{
  0%{
    transform: translateY(-5px);
    opacity: 0.5;
  }
  // 50%{
  //   transform: translateY(0px);
  //   opacity: 1;
  // }
  100%{
    transform: translateY(5px);
    opacity: 1;
  }
}
section{
  padding-top: 50px;
  .title{
    font-size: 24px;
    font-weight: bold;
    color: #4EA1D9;
  }
}
.tac{
  text-align: center;
}
.how-it-been{
  padding: 50px 0;
  .tac{
    font-size: 18px;
    margin: 30px 0;
    font-weight: 600;
    font-size: 18px;
  }
}
.tabs{
  max-width: 980px;
  margin: 0 auto;
  &-top{
    display: flex;
  }
  .tab-button{
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid #50a2d987;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    position: relative;
    &::before{
      position: absolute;
      content: "";
      bottom: -6px;
      left: 50%;
      margin-left: -5px;
      width: 10px;
      height: 10px;
      border-left: 2px solid #50a2d987;
      border-top: 2px solid #50a2d987;
      background: #fff;
      transform: rotate(45deg);
      opacity: 0;
      transition: all 250ms ease;
    }
    &.active{
      border: 2px solid #50a2d9;
      &:before{
        border-left: 2px solid #50a2d9;
        border-top: 2px solid #50a2d9;
        opacity: 1;
      }
    }
  }
  .tabs-content > div{
    display: none;
    margin: 5px;
    padding: 22px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.16);
    margin-top: 10px;
    ul{
      li{
        position: relative;
        padding-left: 15px;
        margin-bottom: 10px;
        &:before{
          position: absolute;
          content: "";
          left: 0;
          top: 9px;
          width: 5px;
          height: 5px;
          border-radius: 5px;
          background: blueviolet;
        }
        strong{
          font-weight: 600;
        }
      }
    }
  }
}
$main-blue: #4EA1D9;
.place-section{
  padding-bottom: 50px;
  background: #f3f3f3;
  .map-wrap{
    &-top{
      display: flex;
      align-items: center;
      font-size: 18px;
      padding: 15px 0;
      .fa{
        margin-right: 20px;
        color: $main-blue;
      }
      &__title{
        text-decoration: underline;
        cursor: pointer;
        span{
          font-size: 14px;
        }
      }
      &:hover{
        .map-wrap-top__title{
          text-decoration: none;
        }
      }
    }
    &-text{
      padding-top: 15px;
      p{
        margin-bottom: 10px;
      }
      .with-icon{
        text-align: center;
        svg{
          width: 120px;
          display: block;
          margin: auto;
        }
        p{
          margin: 0;
        }
        strong{
          font-weight: bold;
        }
      }
    }
    .map{
      margin: 30px 0;
      height: 300px;
      display: none;
    }
  }
  .bottom-text{
    padding: 30px 0;
    padding-bottom: 20px;
    p{
      margin-bottom: 10px;
    }
  }
  .gallery-wrap{
    margin: 30px 0;
    padding: 0 50px;
    .img-wrap{
      position: relative;
      margin: 0 10px;
      cursor: pointer;
      img{
        display: block;
        max-width: 100%;
      }
      &:before{
        content: "\f00e";
        position: absolute;
        font: normal normal normal 14px/1 FontAwesome;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(78, 161, 217, 0.53);
        opacity: 0;
        transition: all 250ms ease;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 28px;
        pointer-events: none;
      }
      &:hover{
        &:before{
          opacity: 1;
        }
      }
    }
  }
}
.flex-2{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  & > div{
    flex: 1 1 50%;
    max-width: 50%;
    padding: 0 15px;
  }
}
.flex-4{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  & > div{
    flex: 1 1 25%;
    max-width: 25%;
    padding: 0 15px;
  }
}
section.transfer{
  padding-bottom: 50px;
  .text{
    margin-top: 20px;
    p{
      margin-top: 10px;
    }
  }
  .map-with-route{
    height: 300px;
    margin-top: 30px;
  }
}
.times{
  background: #f3f3f3;
  padding: 50px 0;
  &__month{
    text-align: right;
    font-style: italic;
    color: $main-blue;
    font-size: 14px;
    max-width: 980px;
    margin: auto;
    margin-top: 30px;
  }
  .days-table{
    max-width: 980px;
    width: 100%;
    border-collapse: collapse;
    margin: 30px auto;
    margin-top: 0;
    th, td{
      border: 1px solid #50a2d9;
    }
    th{
      padding: 10px;
      font-weight: bold;
    }
    td{
      padding: 40px;
      position: relative;
      .num{
        position: absolute;
        left: 5px;
        top: 5px;
        font-weight: bold;
      }
      &:before{
        position: absolute;
        content: "";
        width: 30px;
        height: 30px;
        left: 50%;
        top: 50%;
        margin-top: -15px;
        margin-left: -15px;
        border-radius: 100%;
        background: transparent;
      }
      &.arrive{
        &:before{
          background: #FEDB00;
        }
      }
      &.green{
        &:before{
          background: #005B45;
        }
      }
      &.blue{
        &:before{
          background: $main-blue;
        }
      }
    }
  }
  .times-table{
    @extend .days-table;
    margin: 30px auto;
    td{
      padding: 10px;
      &:nth-child(1){
        white-space: nowrap;
        text-align: center;
      }
    }
    tr:nth-child(odd){
      td{
        background: #eaeaea;
      }
    }
  }
  .hints{
    max-width: 980px;
    margin: auto;
    .r{
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      .circle{
        width: 30px;
        height: 30px;
        border-radius: 100%;
        margin-right: 15px;
        flex-shrink: 0;
        &--yellow{
          background: #FEDB00;
        }
        &--green{
          background: #005B45;
        }
        &--blue{
          background: #4EA1D9;
        }
      }
      p{

      }
    }
  }
}
.conditions{
  padding: 50px 0;
  .hint{
    font-weight: bold;
    margin-top: 15px;
  }
  .flex-4{
    padding: 30px 0;
    .cond{
      text-align: center;
      svg{
        width: 60px;
      }
    }
  }
  .steps{
    ul{
      margin-top: 30px;
      li{
        margin-bottom: 15px;
      }
    }
  }
}
.costs{
  background: #f3f3f3;
  padding: 50px 0;
  &-table{
    max-width: 980px;
    margin: 30px auto;
    border-collapse: collapse;
    td{
      border: 1px solid $main-blue;
      padding: 10px;
    }
  }
  .warn-block{
    padding: 15px;
    border: 2px solid $main-blue;
    border-radius: 10px;
    max-width: 980px;
    margin: auto;
    .fa{
      font-size: 30px;
      color: #d43111;
      display: block;
      width: 30px;
      margin: auto;
    }
    p{
      margin-top: 10px;
    }
  }
}
.price{
  padding: 50px 0;
  .timeline{
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    .col{
      flex: 1 1 100%;
      position: relative;
      padding: 30px 0;
      border-radius: 100px;
      &:nth-child(1){
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
      }
      &:nth-last-child(1){
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
      }
      &:before{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        height: 30px;
        width: 100%;
        background: #f3f3f3;
        border-radius: 100px;
        transition: all 250ms ease;
      }
      .circle{
        position: absolute;
        top: 0;
        left: 0;
        height: 30px;
        width: 100%;
        background: #f3f3f3;
        border-radius: 100px;
        transition: all 250ms ease;
        &--right{
          right: 0;
        }
        &--left{
          left: 0;
        }
      }
      span{
        position: absolute;
        left: 0;
        top: -19px;
        font-size: 12px;
        width: 100%;
        text-align: center;
      }
      .current-price{
        opacity: 0;
        position: absolute;
        bottom: 0px;
        left: 0;
        text-align: center;
        font-size: 12px;
        padding: 0 5px;
        width: 100%;
        transition: all 250ms ease;
      }
      &:hover{
        .circle{
          background: lighten($main-blue, 10%);
        }
        .current-price{
          opacity: 1;
        }
      }
      &.active{
        .circle{
          background: $main-blue;
        }
        .current-price{
          opacity: 1;
        }
      }
    }
  }
  .text{
    p{
      margin-bottom: 10px;
      &:nth-last-child(1){
        margin-bottom: 0;
      }
    }
  }
  .pay-btn{
    padding: 10px 25px;
    border: none;
    background: $main-blue;
    color: #fff;
    cursor: pointer;
    border-radius: 100px;
    font-family: Open Sans;
    font-size: 18px;
    margin: 15px 0;
    transition: all 250ms ease;
    &:hover{
      background: darken($main-blue, 5%);
    }
  }
}
.fwb{
  font-weight: bold;
}
.staff{
  padding: 50px 0;
  background: #f3f3f3;
  .coach-block{
    display: flex;
    align-items: center;
    max-width: 980px;
    margin: auto;
    margin-top: 30px;
    .hrefs{
      display: flex;
      align-items: center;
      .fa{
        color: $main-blue;
        font-size: 25px;
        text-decoration: none;
        margin-right: 15px;
        transition: all 250ms ease;
        &:hover{
          color: darken($main-blue, 5%);
        }
      }
    }
    .img-wrap{
      min-width: 400px;
      img{
        box-shadow: 0px 0px 19px 2px rgba(0,0,0,0.2)
      }
    }
    .title{
      font-size: 20px;
      line-height: 35px;
      font-weight: 400;
      margin-bottom: 20px;
    }
    .text{
      color: #004370;
      font-weight: normal;
      line-height: 27px;
      padding-left: 30px;
      p{
        margin-bottom: 20px;
      }
      a{
        text-decoration: underline;
        &:hover{
          text-decoration: none;
        }
      }
    }
    &--right{
      .text{
        padding-left: 0;
        padding-right: 30px;
      }
    }
    .coach-button{
      text-decoration: underline;
      background: transparent;
      border: none;
      font-family: Open Sans;
      font-size: 16px;
      margin-bottom: 20px;
      color: #004370;
      &:hover{
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}
.std-modal{
  width: 900px;
  margin: auto;
  position: relative;
  padding: 30px;
  background:#fff;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
  border-radius: 10px;
  &__title{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  p{
    text-indent: 15px;
    margin-bottom: 10px;
    strong{
      font-weight: bold;
    }
    i{
      font-style: italic;
    }
    a{
      color: $main-blue;
      text-decoration: underline;
      &:hover{
        text-decoration: none;
      }
    }
    tdu{
      text-decoration: underline;
    }
  }
  hr{
    border:none;
    height: 1px;
    width: 100%;
    margin: 30px 0;
    background:#fff;
  }
  .form-wrap{
    &__title{
      text-align: center;
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 30px;
    }
      input{
        width: 100%;
        height: 44px;
        border:1px solid $main-blue;
        padding-left: 10px;
        color: #fff;
        transition:all 250ms ease;
        background:transparent;
        outline: none;
        color: #000;
        margin-bottom: 20px;
        &:focus{
          border:1px solid darken($main-blue, 5%);
        }
      }
    .inps{
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-2{
        display: block;
        input{
          display: block;
          width: 49%;
          height: 44px;
          border:1px solid $main-blue;
          padding-left: 10px;
          color: #fff;
          transition:all 250ms ease;
          background:transparent;
          outline: none;
          color: #000;
          margin: auto;
          margin-bottom: 20px;
          &:focus{
            border:1px solid darken($main-blue, 5%);
          }
        }
      }
    }
    textarea{
      @extend input;
      background:transparent;
      border:1px solid #fff;
      width: 100%;
      height: 150px;
      margin-top: 10px;
      padding: 10px;
      outline: none;
      font-family: 'Open Sans';
      &:focus{
        border:1px solid $main-blue;
      }
    }
    button{
      width: 250px;
      height: 40px;
      border: none;
      margin-top: 15px;
      transition: all 250ms ease;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $main-blue;
      font-family: 'Open Sans';
      color: #fff;
      outline: none;
      display: block;
      margin: auto;
      margin-top: 10px;
      border-radius: 100px;
      &:hover{
        background: darken($main-blue, 5%);
        color: #fff;
        cursor: pointer;
      }
    }
  }
  .img-wrap{
    position: relative;
    img{
      max-width: 100%;
    }
  }
}
.has-error{
  border:1px solid red !important;
}
.has-success{
  border:1px solid $main-blue !important;
}
.invite{
  padding: 50px 0;
  .big-button{
    padding: 30px 130px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background: $main-blue;
    cursor: pointer;
    font-family: Open Sans;
    margin-top: 30px;
    font-size: 24px;
    transition: all 250ms ease;
    &:hover{
      background: darken($main-blue, 10%);
    }
  }
}
.video-wrap{
  position: relative;
  max-width: 980px;
  margin: 0 auto;
  margin-top: 30px;
  .play-button{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background: rgba(0,0,0,0.5);
    color: #fff;
    transition: all 250ms ease;
    .fa{
      font-size: 30px;
      width: 100px;
      height: 100px;
      border: 2px solid #fff;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &:hover{
      background: rgba(0,0,0,0.2);
      cursor: pointer;
    }
  }
}
video{
  max-width: 100%;
}
footer{
  padding: 15px 0;
  background: $main-blue;
  color: #fff;
  font-size: 14px;
  .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a{
    color: #fff;
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
}