/**
 * Fade-zoom animation for first dialog
 */
/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8); }

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1); }

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0; }

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out; }

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8; }

/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0; }

/**
 * Fade-move animation for second dialog
 */
/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transform: translateY(-20px) perspective(600px) rotateX(10deg);
  -moz-transform: translateY(-20px) perspective(600px) rotateX(10deg);
  -ms-transform: translateY(-20px) perspective(600px) rotateX(10deg);
  -o-transform: translateY(-20px) perspective(600px) rotateX(10deg);
  transform: translateY(-20px) perspective(600px) rotateX(10deg); }

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -webkit-transform: translateY(0) perspective(600px) rotateX(0);
  -moz-transform: translateY(0) perspective(600px) rotateX(0);
  -ms-transform: translateY(0) perspective(600px) rotateX(0);
  -o-transform: translateY(0) perspective(600px) rotateX(0);
  transform: translateY(0) perspective(600px) rotateX(0); }

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
  opacity: 0;
  -webkit-transform: translateY(-10px) perspective(600px) rotateX(10deg);
  -moz-transform: translateY(-10px) perspective(600px) rotateX(10deg);
  -ms-transform: translateY(-10px) perspective(600px) rotateX(10deg);
  -o-transform: translateY(-10px) perspective(600px) rotateX(10deg);
  transform: translateY(-10px) perspective(600px) rotateX(10deg); }

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out; }

/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
  opacity: 0.8; }

/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
  opacity: 0; }

.hamburger {
  height: 40px;
  width: 40px;
  position: relative;
  z-index: 6;
  margin-right: 15px; }

.hamburger .inner,
.hamburger .inner::before,
.hamburger .inner::after {
  background-color: #fff;
  content: "";
  display: block;
  height: 1px;
  width: 32px;
  -webkit-transition: all .3s ease;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.hamburger .inner {
  position: absolute;
  top: 50%; }

.hamburger .inner::before {
  margin-top: -10px;
  position: absolute; }

.hamburger .inner::after {
  margin-top: 10px;
  position: absolute; }

.hamburger.button-close .inner {
  background-color: transparent; }

.hamburger.button-close .inner::before,
.hamburger.button-close .inner::after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  transform-origin: 0 50%;
  width: 29px; }

.hamburger.button-close .inner::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html, body {
  cursor: default;
  height: 100%;
  position: relative;
  min-height: 100%;
  font-family: Acrom; }

body {
  overflow: auto;
  font-family: Open Sans,Arial,sans-serif; }

#container {
  width: 100%;
  min-height: 100%;
  height: 100%;
  transition: all 250ms ease; }

.content {
  position: relative;
  max-width: 1275px;
  margin: 0 auto;
  padding: 0 10px; }

.menu {
  background: linear-gradient(to top right, #3992d5 0%, #61afdd 100%);
  position: fixed;
  z-index: 33;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff; }
  .menu-top {
    padding: 10px 0;
    font-size: 14px; }
    .menu-top .content {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .menu-top-right {
      text-align: right; }
      .menu-top-right-phone {
        color: #fff;
        display: flex;
        align-items: center; }
        .menu-top-right-phone p {
          line-height: 12px;
          margin-left: 5px;
          font-size: 16px; }
      .menu-top-right .callback-button {
        border: 1px solid #fff;
        padding: 2px 15px;
        border-radius: 100px;
        background: transparent;
        color: #fff;
        margin-top: 5px;
        cursor: pointer;
        transition: all 250ms ease; }
        .menu-top-right .callback-button:hover {
          color: #4EA1D9;
          background: #fff; }
  .menu-hrefs {
    display: flex;
    justify-content: center;
    align-items: center; }
    .menu-hrefs a {
      color: #fff;
      padding: 10px; }

.main-bg {
  width: 100%;
  position: relative;
  min-height: 100vh;
  background: url("../images/place-gallery/7.jpg") center center no-repeat;
  background-size: cover;
  padding: 0; }
  .main-bg:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35); }
  .main-bg .content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.8); }
    .main-bg .content h1 {
      font-weight: bold;
      font-size: 36px; }
    .main-bg .content .text {
      max-width: 700px;
      margin: 30px 0; }
    .main-bg .content .show-more {
      position: absolute;
      width: 200px;
      height: 50px;
      background: linear-gradient(to top right, #17507b 0%, #61afdd 100%);
      left: 50%;
      margin-left: -100px;
      bottom: 0;
      border: none;
      color: #fff;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      cursor: pointer;
      transition: all 250ms ease; }
      .main-bg .content .show-more:hover {
        opacity: 0.9; }
        .main-bg .content .show-more:hover i {
          animation: 800ms ease infinite keydown-anim; }

@keyframes keydown-anim {
  0% {
    transform: translateY(-5px);
    opacity: 0.5; }
  100% {
    transform: translateY(5px);
    opacity: 1; } }
section {
  padding-top: 50px; }
  section .title {
    font-size: 24px;
    font-weight: bold;
    color: #4EA1D9; }

.tac {
  text-align: center; }

.how-it-been .tac {
  font-size: 18px;
  margin: 30px 0;
  font-weight: 600;
  font-size: 18px; }
.how-it-been .video-wrap {
  position: relative;
  max-width: 980px;
  margin: 0 auto;
  margin-top: 30px; }
  .how-it-been .video-wrap .play-button {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    transition: all 250ms ease; }
    .how-it-been .video-wrap .play-button .fa {
      font-size: 30px;
      width: 100px;
      height: 100px;
      border: 2px solid #fff;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center; }
    .how-it-been .video-wrap .play-button:hover {
      background: rgba(0, 0, 0, 0.2);
      cursor: pointer; }
.how-it-been video {
  max-width: 100%; }

.tabs {
  max-width: 980px;
  margin: 0 auto; }
  .tabs-top {
    display: flex; }
  .tabs .tab-button {
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid #50a2d987;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    position: relative; }
    .tabs .tab-button::before {
      position: absolute;
      content: "";
      bottom: -6px;
      left: 50%;
      margin-left: -5px;
      width: 10px;
      height: 10px;
      border-left: 2px solid #50a2d987;
      border-top: 2px solid #50a2d987;
      background: #fff;
      transform: rotate(45deg);
      opacity: 0;
      transition: all 250ms ease; }
    .tabs .tab-button.active {
      border: 2px solid #50a2d9; }
      .tabs .tab-button.active:before {
        border-left: 2px solid #50a2d9;
        border-top: 2px solid #50a2d9;
        opacity: 1; }
  .tabs .tabs-content > div {
    display: none;
    margin: 5px;
    padding: 22px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.16);
    margin-top: 10px; }
    .tabs .tabs-content > div ul li {
      position: relative;
      padding-left: 15px;
      margin-bottom: 10px; }
      .tabs .tabs-content > div ul li:before {
        position: absolute;
        content: "";
        left: 0;
        top: 9px;
        width: 5px;
        height: 5px;
        border-radius: 5px;
        background: blueviolet; }
      .tabs .tabs-content > div ul li strong {
        font-weight: 600; }

.place-section {
  padding-bottom: 50px;
  background: #f3f3f3;
  margin-top: 50px; }
  .place-section .map-wrap-top {
    display: flex;
    align-items: center;
    font-size: 18px;
    padding: 15px 0; }
    .place-section .map-wrap-top .fa {
      margin-right: 20px;
      color: #4EA1D9; }
    .place-section .map-wrap-top__title {
      text-decoration: underline;
      cursor: pointer; }
      .place-section .map-wrap-top__title span {
        font-size: 14px; }
    .place-section .map-wrap-top:hover .map-wrap-top__title {
      text-decoration: none; }
  .place-section .map-wrap-text {
    padding-top: 15px; }
    .place-section .map-wrap-text p {
      margin-bottom: 10px; }
    .place-section .map-wrap-text .with-icon {
      text-align: center; }
      .place-section .map-wrap-text .with-icon svg {
        width: 120px;
        display: block;
        margin: auto; }
      .place-section .map-wrap-text .with-icon p {
        margin: 0; }
      .place-section .map-wrap-text .with-icon strong {
        font-weight: bold; }
  .place-section .map-wrap .map {
    margin: 30px 0;
    height: 300px;
    display: none; }
  .place-section .bottom-text {
    padding: 30px 0;
    padding-bottom: 20px; }
    .place-section .bottom-text p {
      margin-bottom: 10px; }
  .place-section .gallery-wrap {
    margin: 30px 0;
    padding: 0 50px; }
    .place-section .gallery-wrap .img-wrap {
      position: relative;
      margin: 0 10px;
      cursor: pointer; }
      .place-section .gallery-wrap .img-wrap img {
        display: block;
        max-width: 100%; }
      .place-section .gallery-wrap .img-wrap:before {
        content: "\f00e";
        position: absolute;
        font: normal normal normal 14px/1 FontAwesome;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(78, 161, 217, 0.53);
        opacity: 0;
        transition: all 250ms ease;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 28px;
        pointer-events: none; }
      .place-section .gallery-wrap .img-wrap:hover:before {
        opacity: 1; }

.flex-2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap; }
  .flex-2 > div {
    flex: 1 1 50%;
    max-width: 50%;
    padding: 0 15px; }

.flex-4 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap; }
  .flex-4 > div {
    flex: 1 1 25%;
    max-width: 25%;
    padding: 0 15px; }

section.transfer {
  padding-bottom: 50px; }
  section.transfer .text {
    margin-top: 20px; }
    section.transfer .text p {
      margin-top: 10px; }
  section.transfer .map-with-route {
    height: 300px;
    margin-top: 30px; }

.times {
  background: #f3f3f3;
  padding: 50px 0; }
  .times__month {
    text-align: right;
    font-style: italic;
    color: #4EA1D9;
    font-size: 14px;
    max-width: 980px;
    margin: auto;
    margin-top: 30px; }
  .times .days-table, .times .times-table {
    max-width: 980px;
    width: 100%;
    border-collapse: collapse;
    margin: 30px auto;
    margin-top: 0; }
    .times .days-table th, .times .times-table th, .times .days-table td, .times .times-table td {
      border: 1px solid #50a2d9; }
    .times .days-table th, .times .times-table th {
      padding: 10px;
      font-weight: bold; }
    .times .days-table td, .times .times-table td {
      padding: 40px;
      position: relative; }
      .times .days-table td .num, .times .times-table td .num {
        position: absolute;
        left: 5px;
        top: 5px;
        font-weight: bold; }
      .times .days-table td:before, .times .times-table td:before {
        position: absolute;
        content: "";
        width: 30px;
        height: 30px;
        left: 50%;
        top: 50%;
        margin-top: -15px;
        margin-left: -15px;
        border-radius: 100%;
        background: transparent; }
      .times .days-table td.arrive:before, .times .times-table td.arrive:before {
        background: #FEDB00; }
      .times .days-table td.green:before, .times .times-table td.green:before {
        background: #005B45; }
      .times .days-table td.blue:before, .times .times-table td.blue:before {
        background: #4EA1D9; }
  .times .times-table {
    margin: 30px auto; }
    .times .times-table td {
      padding: 10px; }
      .times .times-table td:nth-child(1) {
        white-space: nowrap;
        text-align: center; }
    .times .times-table tr:nth-child(odd) td {
      background: #eaeaea; }
  .times .hints {
    max-width: 980px;
    margin: auto; }
    .times .hints .r {
      display: flex;
      align-items: center;
      margin-bottom: 15px; }
      .times .hints .r .circle {
        width: 30px;
        height: 30px;
        border-radius: 100%;
        margin-right: 15px;
        flex-shrink: 0; }
        .times .hints .r .circle--yellow {
          background: #FEDB00; }
        .times .hints .r .circle--green {
          background: #005B45; }
        .times .hints .r .circle--blue {
          background: #4EA1D9; }

.conditions {
  padding: 50px 0; }
  .conditions .hint {
    font-weight: bold;
    margin-top: 15px; }
  .conditions .flex-4 {
    padding: 30px 0; }
    .conditions .flex-4 .cond {
      text-align: center; }
      .conditions .flex-4 .cond svg {
        width: 60px; }
  .conditions .steps ul {
    margin-top: 30px; }
    .conditions .steps ul li {
      margin-bottom: 15px; }

.costs {
  background: #f3f3f3;
  padding: 50px 0; }
  .costs-table {
    max-width: 980px;
    margin: 30px auto;
    border-collapse: collapse; }
    .costs-table td {
      border: 1px solid #4EA1D9;
      padding: 10px; }
  .costs .warn-block {
    padding: 15px;
    border: 2px solid #4EA1D9;
    border-radius: 10px;
    max-width: 980px;
    margin: auto; }
    .costs .warn-block .fa {
      font-size: 30px;
      color: #d43111;
      display: block;
      width: 30px;
      margin: auto; }
    .costs .warn-block p {
      margin-top: 10px; }

.price {
  padding: 50px 0; }
  .price .timeline {
    margin: 50px 0;
    display: flex;
    justify-content: space-between; }
    .price .timeline .col {
      flex: 1 1 100%;
      position: relative;
      padding: 30px 0;
      border-radius: 100px; }
      .price .timeline .col:nth-child(1) {
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px; }
      .price .timeline .col:nth-last-child(1) {
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px; }
      .price .timeline .col:before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        height: 30px;
        width: 100%;
        background: #f3f3f3;
        border-radius: 100px;
        transition: all 250ms ease; }
      .price .timeline .col .circle {
        position: absolute;
        top: 0;
        left: 0;
        height: 30px;
        width: 100%;
        background: #f3f3f3;
        border-radius: 100px;
        transition: all 250ms ease; }
        .price .timeline .col .circle--right {
          right: 0; }
        .price .timeline .col .circle--left {
          left: 0; }
      .price .timeline .col span {
        position: absolute;
        left: 0;
        top: -19px;
        font-size: 12px;
        width: 100%;
        text-align: center; }
      .price .timeline .col .current-price {
        opacity: 0;
        position: absolute;
        bottom: 0px;
        left: 0;
        text-align: center;
        font-size: 12px;
        padding: 0 5px;
        width: 100%;
        transition: all 250ms ease; }
      .price .timeline .col:hover .circle {
        background: #78b7e2; }
      .price .timeline .col:hover .current-price {
        opacity: 1; }
      .price .timeline .col.active .circle {
        background: #4EA1D9; }
      .price .timeline .col.active .current-price {
        opacity: 1; }
  .price .text p {
    margin-bottom: 10px; }
    .price .text p:nth-last-child(1) {
      margin-bottom: 0; }
  .price .pay-btn {
    padding: 10px 25px;
    border: none;
    background: #4EA1D9;
    color: #fff;
    cursor: pointer;
    border-radius: 100px;
    font-family: Open Sans;
    font-size: 18px;
    margin: 15px 0;
    transition: all 250ms ease; }
    .price .pay-btn:hover {
      background: #3996d4; }

.fwb {
  font-weight: bold; }

.staff {
  padding: 50px 0;
  background: #f3f3f3; }
  .staff .coach-block {
    display: flex;
    align-items: center;
    max-width: 980px;
    margin: auto;
    margin-top: 30px; }
    .staff .coach-block .hrefs {
      display: flex;
      align-items: center; }
      .staff .coach-block .hrefs .fa {
        color: #4EA1D9;
        font-size: 25px;
        text-decoration: none;
        margin-right: 15px;
        transition: all 250ms ease; }
        .staff .coach-block .hrefs .fa:hover {
          color: #3996d4; }
    .staff .coach-block .img-wrap {
      min-width: 400px; }
      .staff .coach-block .img-wrap img {
        box-shadow: 0px 0px 19px 2px rgba(0, 0, 0, 0.2); }
    .staff .coach-block .title {
      font-size: 20px;
      line-height: 35px;
      font-weight: 400;
      margin-bottom: 20px; }
    .staff .coach-block .text {
      color: #004370;
      font-weight: normal;
      line-height: 27px;
      padding-left: 30px; }
      .staff .coach-block .text p {
        margin-bottom: 20px; }
      .staff .coach-block .text a {
        text-decoration: underline; }
        .staff .coach-block .text a:hover {
          text-decoration: none; }
    .staff .coach-block--right .text {
      padding-left: 0;
      padding-right: 30px; }
    .staff .coach-block .coach-button {
      text-decoration: underline;
      background: transparent;
      border: none;
      font-family: Open Sans;
      font-size: 16px;
      margin-bottom: 20px;
      color: #004370; }
      .staff .coach-block .coach-button:hover {
        text-decoration: none;
        cursor: pointer; }

.std-modal {
  width: 900px;
  margin: auto;
  position: relative;
  padding: 30px;
  background: #fff;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px; }
  .std-modal__title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px; }
  .std-modal p {
    text-indent: 15px;
    margin-bottom: 10px; }
    .std-modal p strong {
      font-weight: bold; }
    .std-modal p i {
      font-style: italic; }
    .std-modal p a {
      color: #4EA1D9;
      text-decoration: underline; }
      .std-modal p a:hover {
        text-decoration: none; }
    .std-modal p tdu {
      text-decoration: underline; }
  .std-modal hr {
    border: none;
    height: 1px;
    width: 100%;
    margin: 30px 0;
    background: #fff; }
  .std-modal .form-wrap__title {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 30px; }
  .std-modal .form-wrap input, .std-modal .form-wrap textarea {
    width: 270px;
    height: 44px;
    border: 1px solid #4EA1D9;
    padding-left: 10px;
    color: #fff;
    transition: all 250ms ease;
    background: transparent;
    outline: none;
    color: #000; }
    .std-modal .form-wrap input:focus, .std-modal .form-wrap textarea:focus {
      border: 1px solid #3996d4; }
  .std-modal .form-wrap .inps {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .std-modal .form-wrap .inps-2 {
      display: block; }
      .std-modal .form-wrap .inps-2 input, .std-modal .form-wrap .inps-2 textarea {
        display: block;
        width: 49%;
        height: 44px;
        border: 1px solid #4EA1D9;
        padding-left: 10px;
        color: #fff;
        transition: all 250ms ease;
        background: transparent;
        outline: none;
        color: #000;
        margin: auto;
        margin-bottom: 20px; }
        .std-modal .form-wrap .inps-2 input:focus, .std-modal .form-wrap .inps-2 textarea:focus {
          border: 1px solid #3996d4; }
  .std-modal .form-wrap textarea {
    background: transparent;
    border: 1px solid #fff;
    width: 100%;
    height: 150px;
    margin-top: 10px;
    padding: 10px;
    outline: none;
    font-family: 'Open Sans'; }
    .std-modal .form-wrap textarea:focus {
      border: 1px solid #4EA1D9; }
  .std-modal .form-wrap button {
    width: 250px;
    height: 40px;
    border: none;
    margin-top: 15px;
    transition: all 250ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4EA1D9;
    font-family: 'Open Sans';
    color: #fff;
    outline: none;
    display: block;
    margin: auto;
    margin-top: 10px;
    border-radius: 100px; }
    .std-modal .form-wrap button:hover {
      background: #3996d4;
      color: #fff;
      cursor: pointer; }
  .std-modal .img-wrap {
    position: relative; }
    .std-modal .img-wrap img {
      max-width: 100%; }

.has-error {
  border: 1px solid red !important; }

.has-success {
  border: 1px solid #4EA1D9 !important; }

/*# sourceMappingURL=style.css.map */
